<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/api/v1/upload" method="post" enctype="multipart/form-data">
    Select image to upload:
    <input type="file" name="file" id="file">
    <input type="button" value="upload">
    <div id="canvas" style="position: relative; width: 512px; height: 512px;"></div>
    크기: <input id="size" type="text" value="10">
    <input type="button" value="undo" id="undo">
<!--    <input type="submit" value="Upload Image" name="submit">-->
</form>

</body>
<script>
    ;(function ($) {
  'use strict'

  // Loads an image for a given File object.
  // Invokes the callback with an img or optional canvas
  // element (if supported by the browser) as parameter:
  function loadImage (file, callback, options) {
    var img = document.createElement('img')
    var url
    img.onerror = function (event) {
      return loadImage.onerror(img, event, file, callback, options)
    }
    img.onload = function (event) {
      return loadImage.onload(img, event, file, callback, options)
    }
    if (typeof file === 'string') {
      loadImage.fetchBlob(
        file,
        function (blob) {
          if (blob) {
            file = blob
            url = loadImage.createObjectURL(file)
          } else {
            url = file
            if (options && options.crossOrigin) {
              img.crossOrigin = options.crossOrigin
            }
          }
          img.src = url
        },
        options
      )
      return img
    } else if (
      loadImage.isInstanceOf('Blob', file) ||
      // Files are also Blob instances, but some browsers
      // (Firefox 3.6) support the File API but not Blobs:
      loadImage.isInstanceOf('File', file)
    ) {
      url = img._objectURL = loadImage.createObjectURL(file)
      if (url) {
        img.src = url
        return img
      }
      return loadImage.readFile(file, function (e) {
        var target = e.target
        if (target && target.result) {
          img.src = target.result
        } else if (callback) {
          callback(e)
        }
      })
    }
  }
  // The check for URL.revokeObjectURL fixes an issue with Opera 12,
  // which provides URL.createObjectURL but doesn't properly implement it:
  var urlAPI =
    ($.createObjectURL && $) ||
    ($.URL && URL.revokeObjectURL && URL) ||
    ($.webkitURL && webkitURL)

  function revokeHelper (img, options) {
    if (img._objectURL && !(options && options.noRevoke)) {
      loadImage.revokeObjectURL(img._objectURL)
      delete img._objectURL
    }
  }

  // If the callback given to this function returns a blob, it is used as image
  // source instead of the original url and overrides the file argument used in
  // the onload and onerror event callbacks:
  loadImage.fetchBlob = function (url, callback, options) {
    callback()
  }

  loadImage.isInstanceOf = function (type, obj) {
    // Cross-frame instanceof check
    return Object.prototype.toString.call(obj) === '[object ' + type + ']'
  }

  loadImage.transform = function (img, options, callback, file, data) {
    callback(img, data)
  }

  loadImage.onerror = function (img, event, file, callback, options) {
    revokeHelper(img, options)
    if (callback) {
      callback.call(img, event)
    }
  }

  loadImage.onload = function (img, event, file, callback, options) {
    revokeHelper(img, options)
    if (callback) {
      loadImage.transform(img, options, callback, file, {})
    }
  }

  loadImage.createObjectURL = function (file) {
    return urlAPI ? urlAPI.createObjectURL(file) : false
  }

  loadImage.revokeObjectURL = function (url) {
    return urlAPI ? urlAPI.revokeObjectURL(url) : false
  }

  // Loads a given File object via FileReader interface,
  // invokes the callback with the event object (load or error).
  // The result can be read via event.target.result:
  loadImage.readFile = function (file, callback, method) {
    if ($.FileReader) {
      var fileReader = new FileReader()
      fileReader.onload = fileReader.onerror = callback
      method = method || 'readAsDataURL'
      if (fileReader[method]) {
        fileReader[method](file)
        return fileReader
      }
    }
    return false
  }

  if (typeof define === 'function' && define.amd) {
    define(function () {
      return loadImage
    })
  } else if (typeof module === 'object' && module.exports) {
    module.exports = loadImage
  } else {
    $.loadImage = loadImage
  }
})((typeof window !== 'undefined' && window) || this)
    var undo = document.querySelector('#undo')
    var size = document.querySelector('#size')
    var canvas = document.createElement('canvas')
    canvas.width = 512
    canvas.height = 512
    canvas.style.position = 'absolute';
    canvas.style.left = 0
    states = [canvas.toDataURL()]
    let x ,y ;
    let ctx = canvas.getContext('2d')
    undo.addEventListener('click', e=>{
        if( states.length > 1 ) {
            states.pop()
            let state = states[states.length-1]
            let img = document.createElement('img')
            img.src = state
            img.onload = function() {
                console.log('finish load')
                ctx.clearRect(0,0,512,512)
                ctx.drawImage(img,0,0,512,512,0,0,512,512)
            }
        }
    })

    let setposition = e=>{
        x = e.clientX - canvas.offsetLeft
        y = e.clientY - 32
        console.log(`position xy:${x}:${y}`)
    }
    let draw = e=> {
        // mouse left button must be pressed
      if (e.buttons !== 1)  {
          return;
      }

      ctx.beginPath(); // begin

      ctx.lineWidth = size.value || 10;
      ctx.lineCap = 'round';
      ctx.strokeStyle = '#ffffff';

      ctx.moveTo(x, y); // from
      console.log(`xy:${e.clientX}:${e.clientY}`)
      setposition(e);
      ctx.lineTo(x, y); // to

      ctx.stroke(); // draw it!
    }
    canvas.addEventListener('mousemove', draw)
    canvas.addEventListener('mousedown', setposition)
    canvas.addEventListener('mouseenter', setposition)
    canvas.addEventListener('mouseup', e=>states.push(canvas.toDataURL()))
    document.querySelector('input[type=button]').addEventListener('click', e=>{



        document.querySelector('#canvas').append(loadImage(document.querySelector('#file').files[0]))
        document.querySelector('#canvas').append(canvas)
    })
</script>
</html>